In [1]:
import pandas as pd

# Criando estruturas de dados

## Series

In [3]:
data = [1,2,3,4,5]

series = pd.Series(data)

series

0    1
1    2
2    3
3    4
4    5
dtype: int64

Por padrão ele cria index numéricos, porém agora vamos criar nossos index personalizados, de acordo com a nossa demanda.

In [4]:
index = ['Linha' + str(i) for i in range(5)]

index

['Linha0', 'Linha1', 'Linha2', 'Linha3', 'Linha4']

Agora iremos passar essa variável como index na nossa series.

In [5]:
series = pd.Series(data = data, index=index)

series

Linha0    1
Linha1    2
Linha2    3
Linha3    4
Linha4    5
dtype: int64

## DataFrame

Primeiro vamos criar uma lista de lista.

In [14]:
data = [[1,2,3], [4,5,6], [7,8,9]]

Podemos passar essa lista para criarmos um DataFrame.

In [15]:
df = pd.DataFrame(data = data)

df

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

Vamos criar rótulos para as nossas linhas.

In [16]:
index = ['Linha ' + str(i) for i in range(3)]

index

['Linha 0', 'Linha 1', 'Linha 2']

Agora iremos inserir esse index nas nossas linhas do DataFrame.

In [17]:
df = pd.DataFrame(data = data, index = index)
df

         0  1  2
Linha 0  1  2  3
Linha 1  4  5  6
Linha 2  7  8  9

Agora iremos criar um index para as nossas colunas, da mesma forma que fizemos para as linhas.

In [18]:
columns = ['Coluna ' + str(i) for i in range(3)]

columns


df = pd.DataFrame(data = data, index = index, columns=columns)
df

         Coluna 0  Coluna 1  Coluna 2
Linha 0         1         2         3
Linha 1         4         5         6
Linha 2         7         8         9

Quando quisermos juntar mais de um DataFrame ao nosso original, usamos a função **concat([passamos a lista dos nossos dataframes])**.

Quando quisermos juntar todos um do lado do outro ao invés do modo padrão(um de baixo do outro), podemos passar o parâmetro axis, ficando da seguinte forma:

**concat([passamos a lista dos nossos dataframes], axis = 1)**.