# Organizando DataFrames

In [1]:
import pandas as pd

In [5]:
dados =  [[1,2,3], [4,5,6], [7,8,9]]

df = pd.DataFrame(dados, list('321'), list('zyx'))
df

   z  y  x
3  1  2  3
2  4  5  6
1  7  8  9

Quando quisermos organizar nosso DataFrame de acordo com os nossos index, podemos utilizar a função **sort_index()**.

In [6]:
df.sort_index(inplace = True)

df

   z  y  x
1  7  8  9
2  4  5  6
3  1  2  3

Agora quando quisermos organizar de acordo com a nossas colunas, passamos o parâmetro **axis = 1**.

In [7]:
df.sort_index(inplace = True, axis = 1)

df

   x  y  z
1  9  8  7
2  6  5  4
3  3  2  1

Agora quando quisermos organizar os valores de uma coluna de acordo com a ordem dela podemos usar o **sort_values** e passar o parâmetro **by** para indicarmos com que colunas queremos que ele leve como base.

In [9]:
df.sort_values(by = 'x', inplace = True)
df

   x  y  z
3  3  2  1
2  6  5  4
1  9  8  7